.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}

tr {
  font-size: 1rem;
}

td {
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.384);
  width: 18vw;
  padding: 3px;
}

tr:hover {
  background-color: black;
  font-size: 18px;
}

tr:nth-child(1) {
  color: goldenrod;
  font-size: 19px;
  font-weight: bold;
}
