.maps_charts {
  margin-left: -1px;
  margin-top: 40px;
}

@media (min-width: 1500px) {
  .maps_charts {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .maps_charts{
    margin-left: 0px;
  }
}
