* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #161246;
  font-family: monospace;
  color: #bdbdbd;
  text-align: center;
}

h1 {
  color: rgb(240, 207, 117);
}

.home-map {
  display: flex;
  width: calc(99vw - 92px);
  margin-left: 92px;
  /* border: 4px solid blueviolet; */
}

@media (max-width: 1500px) {
  .home-map {
    flex-direction: column;
    margin-right: 40px auto;
    width: calc(98vw - 92px);
  }
}

@media (max-width: 920px) {
  .home-map {
    /* margin-right: 40px auto; */
    width: 100% !important;
    margin-left: 0px;
  }
}
